.footer {
  background: var(--bg-eleventh);
  position: relative;
}
.footer::before {
  position: absolute;
  content: " ";
  bottom: 0;
  width: 100%;
  height: 48px;
  background: var(--bg-twelfth);
}
.footer__container {
  @include flex(flex, space-between, none, none, none);
  padding-top: 63px;
  padding-bottom: 106px;
  padding-right: 426px;
  position: relative;
  @include media($lg) {
    padding-right: 250px;
  }
  @include media($sm) {
    padding-right: 100px;
  }
  @include media($xs) {
    padding-right: 50px;
    padding-top: 33px;

    @include flex(flex, space-between, none, none, wrap);
  }
  @include media($xs-s) {
    padding-right: 30px;
  }
  @include media($x) {
    padding-right: 15px;
  }
}
.footer__wrap {
  margin-right: auto;
  padding-right: 5px;
  @include media($xs) {
    margin-bottom: 34px;
    margin-right: 0;
  }
}
.footer__logo {
  margin-bottom: 38px;
  display: inline-block;
  @include media($xs-s) {
    margin-bottom: 22px;
  }
}
.footer__contact {
  text-align: left;
}
.footer__contact:not(:last-child) {
  margin-bottom: 51px;
  @include media($xs-s) {
    margin-bottom: 25px;
  }
}
.footer__icons {
  @include flex(flex, none, center, none, none);
}
.footer__menu {
  padding-right: 5px;
  margin-right: auto;
  margin-left: auto;
  @include media($xs-s) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 52px;
  }
}
.footer__menu-wrap {
  @include flex(flex, space-between, none, column, none);
  height: 88%;
  @include media($sm) {
    height: auto;
  }
}
.footer__menu-wrap > .footer__list:last-child {
  @include media($sm) {
    display: none;
  }
}
.footer__catalog-wrap {
  @include flex(flex, none, none, none, none);
  @include media($sm) {
    @include flex(flex, none, none, column, none);
  }
}
.footer__catalog-wrap > .footer__list:first-child {
  margin-right: 47px;
}
.footer__list {
  list-style: none;
}
.footer__title {
  @include font(18px, 23px, 600);
  color: var(--color-second);
  margin-bottom: 16px;
}
.footer__link {
  @include flex(inline-flex, none, center, none, none);
  @include font(16px, 20px, 400);
  color: var(--color-ninth);
  transition: 0.5s;
  padding: 4px 0;
  cursor: url(../img/map/cursor.svg), pointer;
  &:hover {
    background: var(--bg-thirteenth);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 1;
    transition: 0.5s;
    padding-left: 20px;
    margin-right: -20px;
    position: relative;
    transform: scaleX(1);
  }
}
.footer__link::before {
  position: absolute;
  content: " ";
  left: 0;
  width: 16px;
  height: 2px;
  background: var(--bg-fourteen);
  opacity: 0;
}
.footer__link:hover.footer__link::before {
  opacity: 1;
  transition: 0.5s;
}
.footer__link--udreline {
  text-decoration: underline;
  @include font(12px, 20px, 400);
  color: var(--color-tenth);
}
.footer__link-icon {
  display: block;
  margin-right: 13px;
  width: 24px;
  height: 24px;
}
