.input {
  border: none;
  white-space: nowrap;
  background: var(--color-main);
  @include font(16px, 21px, 400);
  flex-grow: 1;
  border: 1px solid var(--color-second);
  color: var(--color-fourth);
  @include media($xs-s) {
    @include flex(flex, center, center, column, none);
  }
}
input:focus {
  outline: none;
}
