.map {
  position: relative;
}
.map::before {
  background: linear-gradient(
      224.82deg,
      #030b41 0.85%,
      #000b52 57.3%,
      #1900ae 102.14%
    ),
    #000c52;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}
.map__container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 58px;
  @include flex(flex, space-between, none, none, none);
}
.map__container::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 181px;
  right: 0;
  bottom: 0;
  background: url(../img/map/ru.png) center center/ cover no-repeat;
  z-index: 1;
  width: 1220px;
}
.map__list {
  position: relative;
  max-width: 771px;
  min-height: 500px;
  flex-grow: 1;
}
.map__name {
  @include font(14px, 18px, 400);
  color: rgba(215, 220, 231, 0.4);
  transition: .5s;
    cursor: url(../img/map/cursor.svg), pointer;
  @include flex(flex, center, center, none, none);
  position: absolute;
  z-index: 10;
  white-space: nowrap;
  &:hover {
    transition: .5s;
        @include font(16px, 21px, 450);
    color: var(--color-seventh);
  }
}
.map__name-1 {
  left: 118px;
  top: 152px;
}
.map__name-2 {
  top: 205px;
  left: 79px;
}
.map__name-3 {
  bottom: 151px;
  left: 56px;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.map__name-4 {
  left: 323px;
  top: 224px;
}
.map__name-5 {
  left: 236px;
  bottom: 163px;
}
.map__name-6 {
  left: 419px;
  bottom: 89px;
}
.map__name-7 {
  left: 593px;
  top: 168px;
}
.map__icon {
  width: 33px;
  height: 33px;
  display: block;
  flex-shrink: 0;
  margin-right: 8px;
  margin-top: -27px;
}
.map__name:hover + .map__icon {
  color: var(--color-seventh);
}
.map__icon-2 {
  margin-right: 0;
  margin-top: 0;
  margin-left: -15px;
  margin-bottom: 6px;
}
.map__icon-3 {
  margin-top: 0;
}
.map__wrap {
  padding-top: 195px;
  position: relative;
  z-index: 10;
}
.map__title {
  position: relative;
}
.map__title::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: -10px;
  width: 40px;
  height: 2px;
  background: rgba(164, 167, 226, 0.4);
  margin-bottom: 28px;
}
.map__subtitle {
  max-width: 390px;
}
