.subtitle {
  @include font(28px, 36px, 400);
  color: var(--color-third);
  opacity: 0.77;
  @include media($xs-s) {
    @include font(18px, 23px, 400);
  }
}
.subtitle--xs {
  @include font(20px, 26px, 400);
  color: var(--color-twelfth);
}
.subtitle--s {
  @include font(26px, 33px, 400);
  color: var(--color-twelfth);
  @include media($xs-s) {
    @include font(20px, 26px, 400);
  }
}
.subtitle--color {
  @include font(20px, 26px, 400);
  color: var(--color-fourth);
}
