.subtitle {
    @include font(28px, 36px, 400);
    color: var(--color-third);
    opacity: 0.77;
  }
  .subtitle--xs{
    @include font(20px, 26px, 400);
    color: rgba(253, 253, 253, 0.8);
  }
  .subtitle--s{
    @include font(26px, 33px, 400);
    color: rgba(253, 253, 253, 0.8);

  }
  .subtitle--color{
    @include font(20px, 26px, 400);
    color: #5B6276;  }